<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Ini adalah kisah cinta kita bersama</h1>
    {% for element in student %}
      {{ element.create_date}} ||
      {{ element.nama}} ||
      {{ element.nim }} <br>
    {% endfor %}

    <img src="{% static "dilan.jpg"%}" alt="file not found!">
  </body>
</html>
